name: Node.js CI

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: mini_crm_test
        ports:
          - 5432: 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'
    
    - run: npm install
    
    - name: Run Tests
      run: npm test
      env:
        DB_HOST: localhost
        DB_USER: postgres
        DB_PASS: password
        DB_NAME: mini_crm_test
        DB_PORT: 5432